p{
    font-family: arial;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
.new{
    color: orange;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}

.mac{
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
}

.main{
    font-size: 33px;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 15px;
}

.price{
    font-size: 14px;
    color: black;
    margin-bottom: 13px;
    
}

.button{
    background-color: rgb(29,155,240);
    color: white;
    border: none;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 330px;

}